.header {
    width: 320px;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1;
    h1 {
        padding: 10px;
        font-size: 20px;
    }
    .ShowCartButton {
        margin-right: 10px;
        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            img {
                width: 25px;
            }
            span {
                margin-left: 5px;
                display: block;
                border-radius: 50%;
                background-color:rgb(255, 66, 2);
                color: white;
                padding: 2px 5px;
            }
        }
    }
}
/*
 * This file is part of Cart front end raul acosta dev.
 *
 * Cart front end raul acosta dev is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Cart front end raul acosta dev is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Cart front end raul acosta dev. If not, see <https://www.gnu.org/licenses/>.
 *
 * Copyright (C) 2024 Angel Raúl Acosta Rojas
 */